* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  position: relative;
}

.side-bar {
  height: 100vh;
  width: 60px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 32px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.264);
}

.container {
  width: 1000px;
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: 2px solid #ced4da;
  color: #fff;

  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.timer {
  border-radius: 12px;
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.292);
  margin: 48px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.285);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-header {
  border: none;
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  margin-bottom: 8px;
  padding: 12px;
}
.btn-header:hover {
  font-weight: bold;
  color: #ced4da;
  cursor: pointer;
}

.btn-start-stop {
  margin-top: 24px;
  border: none;
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  margin-bottom: 8px;
  background-color: rgba(222, 226, 230, 0.193);
  border-radius: 12px;
  padding: 12px;
  font-weight: 500;
}

.btn-start-stop:hover {
  background-color: rgba(52, 58, 64, 0.447);
  font-weight: bold;
  color: #ced4da;
  cursor: pointer;
}

.active-btn {
  background-color: rgba(52, 58, 64, 0.447);
  border-radius: 4px;
  cursor: pointer;
}

.countdown {
  font-size: 128px;
  font-weight: 700px;
  color: #fff;
  letter-spacing: 5px;
}

.icon {
  height: 24px;
  width: 24px;
}

#github-icon {
  bottom: 32px;
  position: absolute;
}
