/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  position: relative;
}

header {
  margin-top: 6rem;
  font-size: 24px;
}

button:hover,
a:hover {
  cursor: pointer;
}

.timer {
  height: 500px;
  background-color: rgba(255, 255, 255, 0.285);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdown {
  color: #fff;
  font-size: 7rem;
  font-weight: 700px;
  letter-spacing: 5px;
}

.side-bar-closed {
  background-color: rgba(255, 255, 255, 0.264);
  position: absolute;
  left: 0px;
  height: 100vh;
  width: 60px;
  gap: 32px;
}

.hidden {
  display: none !important;
}

/* RESPONSİVE */

@media screen and (max-width: px) {
}
@media screen and (max-width: px) {
}
@media screen and (max-width: px) {
}

/* Buttons */

.btn-header {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 6px 12px;
}

.btn-header:hover {
  color: #ced4da;
  font-weight: bold;
}

.active-btn {
  background-color: rgba(52, 58, 64, 0.447);
  border-radius: 4px;
}

.btn-start-stop {
  border: none;
  color: #fff;
  font-size: 24px;
  background-color: transparent;

  background-color: rgba(222, 226, 230, 0.193);

  padding: 12px;
  font-weight: 500;
}

.btn-start-stop:hover {
  background-color: rgba(52, 58, 64, 0.447);
  font-weight: bold;
  color: #ced4da;
  cursor: pointer;
}

.github-shortcut-anchor {
  position: absolute;
  bottom: 32px;
}

.settings-anchor:hover,
.github-shortcut-anchor:hover,
.reset-anchor:hover {
  stroke: #051937;
}

.icon {
  height: 24px;
  width: 24px;
}

.arrow-icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(+50%, 0);
  background-color: #fff;
  stroke: #051937;
}

.settings-icon {
  stroke: #000;
}
.settings-icon:hover,
.github-shortcut-icon:hover {
  stroke: #228be6;
}
.reset-icon:hover {
  fill: #228be6;
}
