/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  position: relative;
}

header {
  margin-top: 6rem;
  font-size: 24px;
}

a:link,
a:visited {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #051937;
}

p,
hr {
  margin: 0 !important;
}

button:hover,
a:hover {
  cursor: pointer;
}

h2,
h3,
.modal-input-1,
.modal-input-2,
.modal-input-3,
.modal-input-4 {
  margin-left: 2rem;
  color: #343a40;
}

input {
  text-align: center;
  font-weight: bold;
  border: 2px solid #00bf736b;
  width: 100px;
  height: 30px;
}

.timer {
  height: 500px;
  background-color: rgba(255, 255, 255, 0.285);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdown {
  color: #fff;
  font-size: 7rem;
  font-weight: 700px;
  letter-spacing: 5px;
}

.side-bar-closed {
  background-color: rgba(255, 255, 255, 0.264);
  position: absolute;
  left: 0px;
  height: 100vh;
  width: 60px;
  gap: 32px;
}

.side-bar-open {
  height: 100vh;
  width: 130px;
  position: absolute;
  gap: 32px;
  left: 0px;
  padding-left: 12px;
  background-color: rgba(255, 255, 255, 0.264);
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.325);
}

.my-modal {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.27);
  border-radius: 12px;
}

.hidden {
  display: none !important;
}

/* Buttons */

.btn-header {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 6px 12px;
}

.btn-header:hover {
  color: #ced4da;
  font-weight: bold;
}

.active-btn {
  background-color: rgba(52, 58, 64, 0.447);
  border-radius: 4px;
}

.btn-start-stop {
  border: none;
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  background-color: rgba(222, 226, 230, 0.193);
  padding: 8px 12px;
  font-weight: 500;
}

.next-pomodoro-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 560px;
  right: 50%;
  transform: translate(56%, 0);
  width: 44px;
  height: 44px;
}
.next-pomodoro-icon:hover {
  fill: #ced4da;
}

.next-pomodoro-icon {
  height: 44px;
  width: 44px;
  stroke: rgba(222, 226, 230, 0.193);
  fill: #fff;
}

.btn-start-stop:hover {
  background-color: rgba(52, 58, 64, 0.447);
  font-weight: bold;
  color: #ced4da;
  cursor: pointer;
}

.btn-set {
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 12px;
  border-radius: 6px;
  padding: 6px 12px;
  border: 2px solid #00bf72;
  background-color: #fff;
  color: #00bf72;
}
.btn-set:hover {
  background-color: #00bf72;
  color: #fff;
}

.settings-anchor-wide:link,
.settings-anchor-wide:visited,
.reset-anchor-wide:link,
.reset-anchor-wide:visited,
.github-shortcut-anchor-wide:link,
.github-shortcut-anchor-wide:visited {
  width: 110px;
  padding: 6px;
}

.settings-anchor-wide:hover,
.reset-anchor-wide:hover,
.github-shortcut-anchor-wide:hover {
  background-color: rgba(0, 0, 0, 0.395);
  border-radius: 6px;
  color: #ced4da;
}

.github-shortcut-anchor {
  position: absolute;
  bottom: 32px;
}

.github-shortcut-anchor-wide {
  position: absolute;
  bottom: 32px;
}

.settings-anchor:hover,
.github-shortcut-anchor:hover,
.reset-anchor:hover {
  stroke: #051937;
}

.btn-close-modal {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 12px;
  height: 24px;
  width: 24px;
  border: none;
  background-color: #fff;
}

.icon {
  height: 24px;
  width: 24px;
}

.icon-close {
  height: 32px;
  width: 32px;
  stroke: #00bf72;
}

.icon-close:hover {
  fill: #00bf72;
  stroke: #fff;
}

.arrow-icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(+50%, 0);
  background-color: #fff;
  stroke: #051937;
}
.arrow-icon-left:hover,
.arrow-icon-right:hover {
  background-color: rgba(0, 0, 0, 0.395);
  stroke: #fff;
}

.arrow-icon-left {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(+50%, 0) rotateY(180deg);
  background-color: #fff;
  stroke: #051937;
}

.settings-icon {
  stroke: #000;
}
.settings-icon:hover,
.github-shortcut-icon:hover {
  stroke: #228be6;
}
.reset-icon:hover {
  fill: #228be6;
}

.pomodoro-interface {
  position: absolute;
  top: 167px;
  font-weight: bold;
  color: #fff;
}

/* RESPONSİVE */

@media screen and (max-width: 2200px) {
  .next-pomodoro-btn {
    top: 570px;
  }

  .timer {
    height: 500px;
  }

  .btn-header {
    font-size: 24px;
    padding: 6px 12px;
  }
}

@media screen and (max-width: 991px) {
  .github-shortcut-anchor {
    position: static;
    /* bottom: 0px;
    left: 0px;
    width: 500px;
    height: 50px; */
  }

  .bottom-bar {
    margin-top: 3rem;
    gap: 32px;
  }

  .next-pomodoro-btn {
    top: 490px;
  }
  .next-pomodoro-icon {
    width: 32px;
    height: 32px;
  }

  .timer {
    height: 450px;
  }

  .countdown {
    font-size: 4rem;
  }
  .btn-start-stop {
    font-size: 1rem;
    padding: 6px 12px;
  }

  .btn-header {
    font-size: 24px;
  }
}

@media screen and (max-width: 650px) {
  header {
    margin-top: 2rem;
  }

  .github-shortcut-anchor {
    position: static;
    /* bottom: 0px;
    left: 0px;
    width: 500px;
    height: 50px; */
  }

  .bottom-bar {
    margin-top: 3rem;
    gap: 32px;
  }

  .next-pomodoro-btn {
    top: 455px;
  }
  .next-pomodoro-icon {
    width: 24px;
    height: 24px;
  }

  .timer {
    height: 400px;
  }

  .countdown {
    font-size: 4rem;
  }
  .btn-start-stop {
    font-size: 1rem;
    padding: 6px 12px;
  }

  .btn-header {
    font-size: 14px;
  }

  .pomodoro-interface {
    position: absolute;
    top: 157px;
    font-weight: bold;
  }
}

@media screen and (max-width: 366px) {
  header {
    margin-top: 1rem;
  }

  .next-pomodoro-btn {
    top: 410px;
  }
  .next-pomodoro-icon {
    width: 24px;
    height: 24px;
  }

  .timer {
    height: 340px;
  }

  .countdown {
    font-size: 3rem;
  }
  .btn-start-stop {
    font-size: 1rem;
    padding: 6px 12px;
  }

  .btn-header {
    font-size: 10px;
  }

  .pomodoro-interface {
    position: absolute;
    top: 157px;
    font-weight: bold;
  }
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
}

.settings-description {
  font-size: 24px;
  font-weight: 500;
}

.modal-sub-titles {
  font-size: 20px;
  font-weight: 400;
}
