/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  position: relative;
}

/*Buttons */

.btn-header {
  border: none;
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  margin-bottom: 8px;
  padding: 12px;
}

.btn-header:hover {
  font-weight: bold;
  color: #ced4da;
  cursor: pointer;
}

.active-btn {
  background-color: rgba(52, 58, 64, 0.447);
  border-radius: 4px;
  cursor: pointer;
}
